<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new user</title>
</head>
<style type="text/css">
    body {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        text-align: center;
    }
    form {
        font-size: 14px;
        margin: auto;
    }
    p {
        font-size: 18px;
    }
</style>
<body>
<p>Create new user</p>
<br/>
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name" />
    <br/>
    <br/>
    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname" />
    <br/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age" />
    <br/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email" />
    <br/>
    <br/>
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username" />
    <br/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password" />
    <br/>
    <br/>
    <p>Select role:</p>
    <label th:for="ROLE_ADMIN_ID">admin</label>
    <input th:type="checkbox" th:id="ROLE_ADMIN_ID" th:name="ROLE_ADMIN" th:value="ROLE_ADMIN">
    <label th:for="ROLE_USER_ID">user</label>
    <input th:type="checkbox" th:id="ROLE_USER_ID" th:name="ROLE_USER" th:value="ROLE_USER">
    <br/>
    <br/>
    <input type="submit" value="Create!">
</form>
</body>
</html>