<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<style type="text/css">
    body {
        font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif;
        text-align: center;
    }
    form {
        font-size: 14px;
        margin: auto;
    }
    p {
        font-size: 18px;
    }
</style>
<body>
<p>Edit user</p>
<br/>
<form th:method="PATCH" 
      th:action="@{/user/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="name">Enter name: </label>
    <input type="text" th:field="*{name}" id="name" />
    <br/>
    <br/>
    <label for="lastname">Enter lastname: </label>
    <input type="text" th:field="*{lastname}" id="lastname" />
    <br/>
    <br/>
    <label for="age">Enter age: </label>
    <input type="text" th:field="*{age}" id="age" />
    <br/>
    <br/>
    <label for="email">Enter email: </label>
    <input type="text" th:field="*{email}" id="email" />
    <br/>
    <br/>
    <label for="username">Enter username: </label>
    <input type="text" th:field="*{username}" id="username" />
    <br/>
    <br/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password" />
    <br/>
    <br/>
    <input type="submit" value="Update user">
</form>
</body>
</html>